# Ch03 Pandas dataframe 創建

# 安裝 pandas
若有語法不了解的地方，可以參考以下連結:
- [API reference](https://pandas.pydata.org/docs/reference/index.html)
- [Pandas Tutorial](https://www.w3schools.com/python/pandas/default.asp)
- [Pandas 教程](https://www.runoob.com/pandas/pandas-tutorial.html)

In [13]:
# 安裝套件
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\xdxd2\appdata\roaming\python\python310\site-packages (1.5.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\program files\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\program files\python310\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\xdxd2\appdata\roaming\python\python310\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\program files\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [1]:
import numpy as np
import pandas as pd

In [15]:
pd.__version__

'1.5.0'

## 建立 DataFrame 物件

In [16]:
data = {
    'item': [1, 2, 3],
    'type': ['apple', 'banana', 'cherry'],
    'price': [0.5, 0.25, 1.0],
    'quantity': [3, 2, 5]}
df = pd.DataFrame.from_dict(data)

In [17]:
# 新增一個二維 list
# 最常用

list_students = [
    ['Alex', 19],
    ['Bill', 22],
    ['Carl', 14],
    ['Darren', 18]
]

# 建立基本的 dataframe
df = pd.DataFrame(list_students)

# 設定 dataframe 的欄位
df.columns = ['name', 'age']; df

     name  age
0    Alex   19
1    Bill   22
2    Carl   14
3  Darren   18

In [18]:
# 使用 dict 來建立 dataframe
# columns base

df = pd.DataFrame({
    'name': ['Sunny', 'Bill', 'Leo', 'Gino'],
    'age': [19, 22, 14, 18]
}); df

    name  age
0  Sunny   19
1   Bill   22
2    Leo   14
3   Gino   18

In [19]:
# 使用 list of dict 來建立 dataframe
# Row base

data_dict = [
    {'name': 'Sunny', 'age': 19},
    {'name': 'Bill', 'age': 22},
    {'name': 'Leo', 'age': 14},
    {'name': 'Darren', 'age': 18},
]

df = pd.DataFrame(data_dict); df

     name  age
0   Sunny   19
1    Bill   22
2     Leo   14
3  Darren   18

In [20]:
'''建立「2020 ~ 2023」年「臺北、臺中、高雄」某月平均溫度 的 dataframe'''

# 建立欄位
years = range(2020, 2024)

# 臺北、臺中、高雄 某個月的平均溫度
taipei = pd.Series([20, 21, 19, 21], index=years)
taichung = pd.Series([25, 26, 27, 28], index=years)
kaohsiung = pd.Series([30, 29, 31, 32], index=years)

# 建立 dataframe (axis=0 是上下合併，axis=1 是左右合併)
df = pd.concat([taipei, taichung, kaohsiung], axis=1)

# 設定欄位
df.columns = ['taipei', 'taichung', 'kaohsiung']; df

      taipei  taichung  kaohsiung
2020      20        25         30
2021      21        26         29
2022      19        27         31
2023      21        28         32

In [21]:
# 建立欄位
years = range(2020, 2024)

# 臺北、臺中、高雄 某個月的平均溫度
taipei = pd.Series([20, 21, 19, 21], index=years)
taichung = pd.Series([25, 26, 27, 28], index=years)
kaohsiung = pd.Series([30, 29, 31, 32], index=years)

# 建立 dataframe (axis=0 是上下合併，axis=1 是左右合併)
# Series 並列在一起就是 DataFrame
df = pd.concat([taipei, taichung, kaohsiung], axis=1)

# 設定欄位
df.columns = ['taipei', 'taichung', 'kaohsiung']; df

      taipei  taichung  kaohsiung
2020      20        25         30
2021      21        26         29
2022      19        27         31
2023      21        28         32